.history-btn{
    position: absolute;
    z-index: 10000;
    bottom: 5%!important;
    right: 5%!important;
    background-color: white;
    padding: 1em;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    border: none;
    border-radius: 2rem;
}